<p-card>
  <p-toast />
  <ng-template pTemplate="title">
    <h2>Colaboradores no Projeto</h2>
  </ng-template>

  <ng-template pTemplate="content">
    <p-table
      [value]="retornaListaColaboradoresTabela() || []"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Origem</th>
          <th>Colaborador</th>
          <th>Horas Planejadas Totais</th>
          <th>Horas Adicionais</th>
          <th>Horas Apontadas até o Período</th>
          <th>Desvio</th>
          <th>Excluir</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-colaborador>
        <tr>
          <td>{{ colaborador.AOrigem }}</td>
          <td>{{ colaborador.NMatricula + " - " + colaborador.ANome }}</td>
          <td>{{ colaborador.NHorasTotais }}</td>
          <td>{{ colaborador.NHorasAdicionais }}</td>
          <td>{{ colaborador.NHorasApontadas }}</td>
          <td
            [ngClass]="{
              'texto-vermelho': verificaDesvioNegativo(colaborador.NDesvio)
            }"
          >
            {{ colaborador.NDesvio != "0" ? colaborador.NDesvio : "00:00" }}
          </td>
          <td *ngIf="colaborador?.incluido">
            <p-button
              severity="danger"
              (click)="botaoExcluir(colaborador)"
              [disabled]="desabilitar"
              ><i class="pi pi-trash"></i
            ></p-button>
          </td>
          <td *ngIf="!colaborador?.incluido">
            <p-inputSwitch
              [(ngModel)]="colaborador.excluir"
              [disabled]="
                desabilitar || colaborador?.NHorasApontadas != '00:00'
              "
            />
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" style="text-align: center; font-weight: bold">
            Não existem colaboradores associados.
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-card *ngIf="retornaListaColaboradoresTabela().length > 0">
      <div class="grid gap-3">
        <div class="col-12 md:col-3 flex align-items-center gap-2">
          <span class="font-bold text-base text-nowrap">Horas Planejadas:</span>
          <span class="text-base">
            {{ calculaHorasPlanejadasTotais() || "00:00" }}
          </span>
        </div>

        <div class="col-12 md:col-3 flex align-items-center gap-2">
          <span class="font-bold text-base text-nowrap">Horas Apontadas:</span>
          <span class="text-base">
            {{ calculaHorasApontadasTotais() || "00:00" }}
          </span>
        </div>

        <div class="col-12 md:col-3 flex align-items-center gap-2">
          <span class="font-bold text-base text-nowrap">Desvio Total:</span>
          <span
            class="text-base"
            [ngClass]="{
              'texto-vermelho': verificaDesvioNegativo(calculaDesvioTotal())
            }"
          >
            {{ calculaDesvioTotal() || "00:00" }}
          </span>
        </div>
      </div>
    </p-card>

    <br />
    <div class="col-12 flex flex-column align-items-end">
      <button
        pButton
        pRipple
        (click)="enviar()"
        label="Gravar"
        [disabled]="desabilitar"
        class="p-button-success"
      ></button>
    </div>
  </ng-template>
</p-card>
